{% extends 'base.html' %} {% load static %} {% block title %}About Us | ABS
Wears{% endblock %} {% block body %}
<div class="about-content">
  <div class="about">
    <h1>About Us</h1>
    <h3>Our Clothes make you look better.</h3>
    <p>
      Our goal is to give each customer the chance and the choice to wear
      affordable, high quality clothing. We work closely with our fabric
      suppliers to provide the best fabric selections. We continuously train our
      in-house tailors to deliver well-constructed shirts ALL AROUND NEPAL.
    </p>
    <p>
      <b>ABS Wears</b> gives you a refreshingly delightful tailoring experience.
      You'll never look and feel as good with any other clothes.
    </p>
    <div class="pre">
      <blockquote>
        "Our mission is to ultimately change your life by improving the way you
        look."
      </blockquote>
    </div>
    <div class="dre">
      <img src="{% static '/Images/1.png' %}" />
      <img src="{% static '/Images/3.png' %}" />
      <img src="{% static '/Images/bg4.jpg' %}" />
    </div>
  </div>
</div>
{% endblock %}
