<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Purchased</title>
    {% load static %}
    <style>
        body{
            width: 50%;
            height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .success-card{
            width: 80%;
            padding: 1.5rem;
            background-color: #F0F2F5;
            border-radius: 3px;
            text-align: center;
            width: auto;
        }
    </style>
</head>
<body>
    <div class="success-card">
        <h1>something went wrong. product purchase failed. Check your username and password and try again..</h1>
    </div>    
</body>
</html>

