{% extends 'base.html' %}
{% load static %}
{% block title %}ABS Wear | Log-In{% endblock %}
{% block body %}
<div class="login-box">
    <div class="login-page">
        <form method="POST" autocomplete="off">
            <h2>Log In</h2><br>
            {% csrf_token %}
            {{form.username}}<br /><br />
            {{form.password}}<br /><br />
            <button type="submit">Log In</button><br>
            <div id="container">
                <a href="#" class="forget">Forget password?</a>
            </div><br /><br /><br /><br /><br />
            Don't have account?<a href="{% url 'signup' %}">&nbsp;Sign Up</a>
        </form>
    </div>
</div><br>
{% endblock %}